package="DiskShell"
version="@SPK_VERSION@"
os_min_ver="7.2-72806"
arch="x86_64"
thirdparty="yes"
maintainer="dei79"
maintainer_url="https://github.com/dei79"
distributor="dei79"
distributor_url="https://github.com/dei79/disk-shell"
support_url="https://github.com/dei79/disk-shell/issues"
displayname="DiskShell"
description="Open a secure terminal for DSM administrators from the DSM desktop."
description_ger="Ein sicheres Terminal für DSM-Administratoren direkt vom DSM-Desktop öffnen."
extractsize="@EXTRACT_SIZE@"
instuninst_restart_services="nginx.service"
dsmuidir="ui"
dsmappname="SYNO.SDS.App.DiskShell.Instance"
ctl_stop="yes"
silent_install="yes"
silent_upgrade="yes"
silent_uninstall="no"
